// import
@import "libs/color.scss";
@import "libs/responsive.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/function.scss";
@import "libs/font.scss";

//---- COLOR -----//
$color1: #2f363e;
$color2: rgba(255, 255, 255, 0.2);
$color3: #fff;
$color4: #bcbcc0;
$color5: #95999d;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $color1;
    color: $color3;
    //font-family: "Poppins", sans-serif;
}
footer {
    display: block;
    justify-content: center;
    align-items: center;
    & .footer__container__title {
        text-align: center;
        color: black;
    }
}
.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    height: 20vh;
    width: 80vw;
    overflow: hidden;
    &:hover {
        overflow: visible;
    }
}
a img {
    height: 10rem;
    background: white;
    transition: all.8s ease;
    &:hover {
        transform: scale(1.2);
        border-radius: .8rem;
    }
}
